<!DOCTYPE html>
<html>
	<head>
		<title>Food Truck Locator</title>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/handlebars.js"></script>

		
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />


<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7Up4BgnfTfIqkKGZGtDGYSN2DOVgwac&sensor=false"></script>

<script type="text/javascript">
   
  		function initialize() {
        var myLatlng = new google.maps.LatLng(37.7901490737255,-122.398658184604);
        var mapOptions = {
            zoom: 12,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        // To add the marker to the map, use the 'map' property
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Hello World!"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	</head>
	 <body>
		
		<div id = "content">
			<div id = "header">
				<div id = "site-logo"></div>
				
				<div id = "site-title"><h1> Hello Food Trucks</h1></div>
			</div>
<ol>
{% for truck in trucks %}
	<li>
		<p class = "truck-name">
			Truck Name : {{ truck.name }}
				<span class="cuisine"> Category : {{ truck.category}}</span>
				Location : {{ truck.address }}, {{truck.latitude}},  {{truck.longitude}}
		</p> 
		<p class = 'truck-info'>
			Menu : {{ truck.menu }} 
		</p>

		</li>
{% endfor %}
</ol> 

	</div>
	<div id="map-canvas"/>
	</body>
	</html>


