<!DOCTYPE html>
<html>
  <head>
    <title>Hello Foodtrucks</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/handlebars.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gettrucks.js"></script>

    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />

    <style type="text/css">
      #content { width:30%; float:left; margin: 2%; padding: 2%}
      #map-canvas { height: 400px; width:40%; float: right; margin: 5%; padding: 5%}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7Up4BgnfTfIqkKGZGtDGYSN2DOVgwac&sensor=false"></script>
     

    <script type="text/javascript">
        var geocoder;
        var map;
        var markers = new Array();
        var i = 0;

    
      
      function initialize() {
        geocoder = new google.maps.Geocoder();

        var myLatlng = new google.maps.LatLng(37.7901490737255,-122.398658184604);
        var mapOptions = {
            zoom: 15,
            center: myLatlng
        }
        map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        // To add the marker to the map, use the 'map' property
        marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title:"Hello World!"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    function codeAddress(address) {
      var locations = ["Hello", "hello"];
      geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
          locations = [];
          var lat = document.getElementById('lat').value = results[0].geometry.location.lat();
          var lng = document.getElementById('lng').value = results[0].geometry.location.lng();
          locations.push(lat);
          locations.push(lng);


      } else {
        locations = ["1","2"];
      }
    <!-- GEOCODER --> 
    });
      return locations
  }
    

    </script>
  </head>
  <body>
    <div id = "content">
      <div id = "header">
        <div id = "site-logo"></div>
        
        <div id = "site-title"><h1> Hello Food Trucks</h1></div>
        <h3> Welcome to Food Trucks finder, let's find food trucks near by! </h3> 
      </div>
      <h3> where are you now?</h3>
      <form class = "address"> {% csrf_token %}
      <label> Address </label>
      <input type="text" id ="textinput" class="textinput" />
      <input type="submit" value = "Find Trucks!" />
      </form>

   </div>
    <div id="map-canvas"/>
 

  </body>
</html>