<!DOCTYPE html>
<html>
  <head>
    <title>Hello Foodtrucks</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo7Up4BgnfTfIqkKGZGtDGYSN2DOVgwac&sensor=false">
      </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/handlebars.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/mapoperation.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gettrucks.js"></script>
   

    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />

    <style type="text/css">
      #content { width:30%; float:left; margin: 2%; padding: 2%}
      #map-canvas { height: 400px; width:40%; float: right; margin: 5%; padding: 5%}
    </style>

     

   
  </head>
  <body>
    <div id = "content">
      <div id = "header">

        <div id = "site-logo"></div>
         <div id = "site-title"><h1> Hello, Food Trucks.</h1></div>
        
        <h3> Welcome to Food Trucks finder. <br> Let's find food trucks near by! </h3> 
      </div>
      <h3> where are you now?</h3>
      <!-- form class = "address"> {% csrf_token %}
      <label> Address </label>
      <input type="text" id ="textinput" class="textinput" />
      <input type="submit" value = "Find Trucks!" />
      </form -->

      <div id="panel">
      <input id="address" type="textbox" value="200 Mission St, San Francisco">
      <br>
      <input type="button" id = "addressbutton" value="Find FoodTrucks!" onclick="codeAddress()">
      </div>
      <br>
      <div id="list"></div>
      <div id ="1"></div>
      <div id ="2"></div>
      <div id ="3"></div>
      <div id ="4"></div>
      <div id ="5"></div>
      <div id ="6"></div>
      <div id ="7"></div>
      <div id ="8"></div>
      <div id ="9"></div>
      <div id ="10"></div>


   </div>
    <div id="map-canvas"/>
 

  </body>
  
</html>
